<div class="px-4">
    <div class="ms-64 flex h-20 items-center justify-between border-b px-2">
        <div class="flex items-center">
            <h1 class="ml-2 text-xl font-bold tracking-wide">Stats</h1>
        </div>
        <div class="flex items-center gap-1">
            <img
                src="https://img.freepik.com/free-vector/blue-circle-with-white-user_78370-4707.jpg?t=st=1723038724~exp=1723042324~hmac=476dabad5531f23d24256a2b7e0cd119f9c7ff40ed5224c2144aece62eb339d2&w=48"
                alt="profile"
            />
            <div class="text-sm">
                <p class="font-bold">John Doe</p>
                <p>฿ 25,000</p>
            </div>
        </div>
    </div>
</div>

<app-sidebar></app-sidebar>
