<div class="ms-64">
    <div class="flex items-center justify-between">
        <h1 class="text-2xl font-bold">Your Accounts</h1>
        <div>
            <!-- Add transaction button -->
            <button
                class="flex items-center rounded-md bg-zinc-800 px-4 py-2 text-white transition-colors hover:bg-zinc-800/85"
            >
                <lucide-icon name="plus-icon" class="size-4"></lucide-icon>
                Add Account
            </button>
        </div>
    </div>
    <div class="mt-4">
        <table class="w-full">
            <thead>
                <tr class="h-12">
                    <th class="px-2 text-left">Account</th>
                    <th class="px-2 text-left">Balance</th>
                    <th class="px-2 text-left">Description</th>
                    <th class="px-2 text-left">
                        Transaction Count
                        <span
                            class="mr-1 rounded-md bg-red-100 px-2 py-1 text-xs text-red-500"
                        >
                            - expense
                        </span>
                        <span
                            class="rounded-md bg-green-100 px-2 py-1 text-xs text-green-500"
                        >
                            + income
                        </span>
                    </th>
                    <th class="w-12 px-2">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (item of accounts; track $index) {
                    <tr class="h-12 border-y">
                        <td class="text-ellipsis px-2">
                            {{ item.name }}
                        </td>
                        <td class="text-ellipsis px-2">
                            {{ formatCurrency(item.balance) }}
                        </td>
                        <td class="text-ellipsis px-2">
                            {{ item.description }}
                        </td>
                        <td class="text-ellipsis px-2">
                            {{ item.transactions.length }}
                            <span
                                class="mr-1 rounded-md bg-red-100 px-2 py-1 text-xs text-red-500"
                            >
                                - {{ expenseCount[$index] }}
                            </span>
                            <span
                                class="rounded-md bg-green-100 px-2 py-1 text-xs text-green-500"
                            >
                                + {{ incomeCount[$index] }}
                            </span>
                        </td>
                        <td class="cursor-pointer">
                            <lucide-icon
                                name="ellipsis-vertical-icon"
                                class="size-4"
                            ></lucide-icon>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
